* {
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 1.6rem;
  color: white;

  min-height: 100vh;
  background-image: url("/assets/midsommar.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-blend-mode: darken;
  background-color: rgba(82, 89, 37, 0.5);
}

a {
  text-decoration: underline;
  color: white;
}

.button,
.title {
  text-shadow: 2px 2px 0px rgb(0, 0, 0, 0.3);
}

.button {
  font-size: 2rem;
  color: inherit;
  transition: all 100ms ease-in;
  font-weight: bold;
  padding: 0.5em;
  display: block;
  text-align: center;
  text-decoration: none;
}

.button.primary {
  padding: 1em;
  background: rgb(1, 1, 187, 0.8);
  box-shadow: 0 0 0 0 rgb(1, 1, 187, 0.5);
  border-bottom: 2px solid rgb(0, 0, 0, 0.3);
  animation: pulse 2s infinite;
  border-radius: 50rem;
}

@keyframes pulse {
  0% {
    transform: scale(0.9);
  }

  70% {
    transform: scale(1);
    box-shadow: 0 0 0 50px rgb(1, 1, 187, 0);
  }

  100% {
    transform: scale(0.9);
    box-shadow: 0 0 0 0 rgb(1, 1, 187, 0);
  }
}

.button:not(.primary):nth-child(odd) {
  /* background: rgba(0, 30, 255, 0.2); */
  /* transform: rotate(-4deg); */
  animation: spin 2s ease-in-out infinite alternate;
}

.button:not(.primary):nth-child(even) {
  /* background: rgba(0, 30, 255, 0.2); */
  /* transform: rotate(4deg); */
  animation: spin 2s ease-in-out infinite alternate-reverse;
}

.spin {
  display: inline-block;
  animation: spin 2s ease-in-out infinite alternate;
}

@keyframes spin {
  from {
    transform: rotate(-2deg);
  }

  to {
    transform: rotate(2deg);
  }
}

.button:not(.primary):hover {
  /* background: rgba(0, 30, 255, 0.2); */
  /* background: rgb(255, 255, 255, 0.3); */
}
/* 
.button:not(:last-child):not(:nth-last-child(2)) {
  border-bottom: 10px solid rgba(242, 255, 1, 0.3);
}

.button:nth-child(odd) {
  border-right: 10px solid rgba(242, 255, 1, 0.3);
} */

.container {
  margin: 0 auto;
  min-height: 100vh;
  max-width: 50rem;
}

.padding {
  padding: 1rem;
}

.top-margin {
  margin-top: 0.5em;
}

/* App */
.app-main {
  display: flex;
  flex-direction: column;
  text-align: center;
}

/* Song */
/* .song-main {
  padding: 0.5em;
} */

.title {
  font-size: 3.2rem;
  margin: 0;
}

.melody {
  font-size: 1.6rem;
  font-weight: bold;
  display: block;
  padding-bottom: 1rem;
}

.song-body {
  color: black;
  white-space: pre-line;
  line-height: 1.5;
  background: rgb(255, 255, 255, 0.6);
  font-size: 2rem;
  margin: 0;
  margin-top: 0.5em;
  padding-top: 1em;
  padding-bottom: 1em;
  backdrop-filter: blur(10px);
}
